* {
    font-family: "Inter", sans-serif;

}

#post-container {
    width: 90%;
    background-color: rgb(231, 221, 222);
    margin: 0 auto;
}

.post-header {
    display: flex;
    align-items: center;
    gap: 5px;

}

.post-user-image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;

}



.post-username {
    margin: 0;
}

.posted-time {
    color: rgb(150, 135, 114);
    font-size: 13px;
}

.post-image {
    display: flex;
    justify-content: center;
}

.post-image img {
    width: 50%;
    border-radius: 8px;

}